:root {
  --d8x-color-purple: #6649DF;
  --d8x-color-purple-50: #EFF0FE;
  --d8x-color-purple-800: #4A349F;
  --d8x-color-purple-dark: #382687;
  --d8x-color-yellow: #FFDA9F;
  --d8x-color-rose: #FFBDBD;
  --d8x-color-black: #333;
  --d8x-color-white: #FFF;
  --d8x-color-red: #F23645;
  --d8x-color-warning-main: #FFDA9F;
  --d8x-color-warning-secondary: #FFBDBD;
  --d8x-text-color: #111;
  --d8x-color-text-main: #1C1C1C;
  --d8x-color-text-highlight: #3F317E;
  --d8x-highlight-color: #382687;
  --d8x-background: #F5F5F5;
  --d8x-background-card-title: rgba(255, 255, 255, 0.4);
  --d8x-icon-color: #664ADF;
  --d8x-color-black-400: #818181;
}
