$d8x-font-primary: 'Syne';
$d8x-font-secondary: 'Roboto';
$d8x-font-size-body: 16px;
$d8x-border-radius: 16px;
$d8x-header-height: 96px;
$d8x-breakpoint-max-sm: 'max-width: 899px';
$d8x-spacing: 4px;
$media: (
  xs: 699px,
  sm: 899px,
  md: 1199px,
  xl: 1759px,
);

@mixin md($breakpoint) {
  @each $breakpoints, $size in $media {
    @if $breakpoint == $breakpoints {
      @media screen and (max-width: $size) {
        @content;
      }
    }
  }
}

@mixin media-phone() {
  @include md('xs') {
    @content;
  }
}

@mixin media-tablet() {
  @include md('sm') {
    @content;
  }
}

@mixin media-desktop() {
  @include md('md') {
    @content;
  }
}

@mixin media-wide() {
  @include md('xl') {
    @content;
  }
}
