@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin page-container {
  width: 100%;
  max-width: 1460px;
  margin: 0 auto;
  padding-left: 80px;
  padding-right: 80px;
  font-family: $d8x-font-secondary;

  @include media-desktop {
    padding-left: 4%;
    padding-right: 4%;
  }

  @include media-phone {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 0;
  }
}
